/* ==========================
   PAGE
========================== */

body {
    margin: 0;
    background: black;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

/* ==========================
   CHARACTER
========================== */

#character {
    position: relative;

    width: min(85vw, 600px);
    aspect-ratio: 1;

    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* ==========================
   FACE
========================== */

.face {
    align-items: center;
    display:flex;

    position: relative;

    width: 100%;
    height: 100%;
	justify-content: center;

    border-radius: 50%;
}

/* ==========================
   EYES
========================== */

.eyes {
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: space-between;
    position: absolute;
    top: 22%;
    width: 60%;
}

.eye {
    position: relative;
    height: 65%;
    width: 30%;
    aspect-ratio: 1 / 1.25;

    background-color: white;
    border: 3px solid black;

    /*border-radius: 50% 50% 15% 15%;*/
	border-radius: 50%;
    overflow: visible;
	z-index: 15;
}

.righteye {
    border-radius: 50% 50% `5% 15%;
}
.eyelash{
    border-radius: 50%;
    display:flex;
    justify-content: space-between;
    position:absolute;
    z-index:110;
    height:100%;
    width:100%;

    box-shadow: inset 0px 4px #000, inset 0px 4px 1px 0px #000;


    transform: rotateX(0deg);
	transform: translateY(0%);
    transition: transform 0.08s ease-in-out;
}
.eyelid{
    border-radius: 50%;
	border-top: 2px solid #000;
	bottom: -3%;
    display:flex;
    position:absolute;

    z-index:110;
    height:25%;
    width:100%;

    background-color: #ffd34d;
}
.topeyelid{
    position:absolute;
    inset:0;
    transition:transform 90ms ease;
}

.eyelash span{
 	background-color: #000;
	border-radius:20%;
	display: block;
	width: 70%;
	height: 5%;
top:0;
	z-index:100;
}
.eyelash span:first-of-type{
	rotate: 60deg;
}
.eyelash span:nth-of-type(2){
	top: -8%;
	position: relative;
	rotate: 90deg;
}
.eyelash span:nth-of-type(3){
	top: -8%;
	position: relative;
	rotate: 90deg;
}
.eyelash span:last-of-type{
	rotate: 120deg;
}
/* ==========================
   PUPILS
========================== */

.pupil {
    position: absolute;
    height: 56%;
    width: 46%;
    aspect-ratio: 1;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: black;
    border-radius: 50%;
    z-index: 20;
}

.shine {
    position: absolute;

    width: 18%;
    aspect-ratio: 1;

    background: white;
    border-radius: 50%;

    top: 20%;
    right: 20%;

    z-index: 25;
}

/* ==========================
   NOSE
========================== */

#nose {
    position: absolute;

    width: 8%;
    aspect-ratio: 1;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: black;
    border-radius: 50%;

    z-index: 30;
}

/* ==========================
   MOUTH
========================== */

#mouth {
    position: absolute;

    left: 50%;
    bottom: 25%;

    width: 28%;
    height: 12%;

    transform: translateX(-50%) scaleY(.2);
    transform-origin: center;

    background: white;
    border: 3px solid black;

    border-radius: 20% 20% 50% 50%;

    transition: transform .08s ease;
z-index: 15;
}

/* ==========================
   BLINK
========================== */

.eye::after {

    content: "";

    position: absolute;

    inset: 0;

    background: #ffd34d;

    transform: scaleY(0);
    transform-origin: top;

    z-index: 40;
}

.eye.blink::after {
    animation: blink .15s ease-in-out;
}
.eye.blink .topeyelid{
    transform: rotateX(80deg);

}

@keyframes blink {

    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }

}
/*********************************
Clock Parts
**********************************/
.clockparts{
	background-color: #ffd34d;
	border-radius: 50%;
	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #FFF;
	z-index:10;
}
.clockparts div{
	background-color:#000;
	border-radius: 5%;
	display: block;
	position: absolute; 
}
.twelve{
	width: 3%;
	height: 15%;	
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
}
.three{
	width: 3%;
	height: 15%;	
	top: 40%;
	right: 1%;
	rotate: 90deg;
	transform: translateY(50%);
}
.six{
	width: 3%;
	height: 15%;	
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
}
.nine{
	width: 3%;
	height: 15%;	
	top: 40%;
	left: 1%;
	rotate: 90deg;
	transform: translateY(-50%);
}
.one{
	width: 2%;
	height: 10%;
	right: 33%;
	rotate: 30deg;
	top: 8%;
}
.onehalf{
	width: 2%;
	height: 10%;
	right: 21%;
	rotate: 45deg;
	top: 16%;
}
.two{
	width: 2%;
	height: 10%;
	right: 12%;
	rotate: 60deg;
	top: 28%;
}
.four{
	width: 2%;
	height: 10%;
	right: 11%;
	rotate: 115deg;
	top: 58%;
}
.fourhalf{
	width: 2%;
	height: 10%;
	right: 19%;
	rotate: 128deg;
	top: 72%;
}
.five{
	width: 2%;
	height: 10%;
	right: 32%;
	rotate: 150deg;
	top: 83%;
}
.seven{
	width: 2%;
	height: 10%;
	left: 33%;
	rotate: -30deg;
	top: 8%;
}
.sevenhalf{
	width: 2%;
	height: 10%;
	left: 21%;
	rotate: -45deg;
	top: 16%;
}
.eight{
	width: 2%;
	height: 10%;
	left: 12%;
	rotate: -60deg;
	top: 28%;
}
.ten{
	width: 2%;
	height: 10%;
	left: 11%;
	rotate: -115deg;
	top: 58%;
}
.tenhalf{
	width: 2%;
	height: 10%;
	left: 19%;
	rotate: -128deg;
	top: 72%;
}
.eleven{
	width: 2%;
	height: 10%;
	left: 32%;
	rotate: -150deg;
	top: 83%;
}
.arm{
    position:absolute;
    width:30%;
    height:30%;
    pointer-events:none;
}

.left-arm{
    left:0%;
    top:55%;
}

.upper-arm{
	background-color: #ffd34d;
    position:absolute;

    width:14%;
    height:70%;


    border-radius:999px;

    transform-origin:top center;
}

.lower-arm{
    background-color: #ffd34d;
    position:absolute;
    width:100%;
    height:70%;
    border-radius:999px;
    top:90%;
    transform-origin:top center;
}
.hand{
    position:absolute;
    bottom: 0;
    left:-14%;
    width:14%;
    height:70%;
}

/* Palm */
.palm{
    width:40%;
    height:40%;
    background:#fff;
    border-radius:50%;
    position: relative;
    left:-15%;
}

/* Base finger style */
/*.finger{
    position:absolute;
    width:18px;
    height:18px;
    background:#f7e8b8;
    border-radius:50%;
}*/

/* Individual fingers */
.finger1{
    left:6px;
    bottom:10px;
}

.finger2{
    left:22px;
    bottom:3px;
}

.finger3{
    left:40px;
    bottom:3px;
}

.finger4{
    left:56px;
    bottom:10px;
}

/* Thumb */
/*.thumb{
    position:absolute;
    width:20px;
    height:20px;
    background:#f7e8b8;
    border-radius:50%;
    left:0;
    top:36px;
}*/
