body {
  margin: 0;
  background: black;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* CHARACTER CONTAINER */
#character {
  position: relative;
  width: 300px;
  height: 300px;
	opacity: .8;
  animation: float 3s ease-in-out infinite;
}

/* FLOAT MOTION */
@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.face {
  width: 200px;
  height: 200px;
  background: #ffd34d;
  border-radius: 50%;
  position: relative;
}

/* EYES */
.eyes {
  position: absolute;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.eye {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50% 50% 20% 20%;
  position: relative;
  overflow: hidden;
}

/* pupil */
.pupil {
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
z-index:80;
}

.pupil:before {
content: "";
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
z-index:100;
}

/* BLINK ANIMATION */
.eye::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffd34d;
  transform: scaleY(0);
  transform-origin: top;
z-index:80;
}

.eye.blink::after {
  animation: blink 0.15s ease-in-out;
}

@keyframes blink {
  0%   { transform: scaleY(0); }
  50%  { transform: scaleY(1); }
  100% { transform: scaleY(0); }
}

#mouth {
  position: absolute;
  bottom: 50px;
  left: 50%;

  width: 80px;
  height: 40px;

  background: #000c00;
  border-radius: 20% 20% 40px 40px;

  transform: translateX(-50%) scaleY(0.2);
  transform-origin: center;

  transition: transform 0.08s ease;
}
